

.App-header {
  background-color: rgb(95, 137, 165);
  padding: 1em;
  color: white;
  margin-bottom: 1em;
  text-align: center;
}
.fa fa-trash-o{
  text-align: right;
  border-left: 40px;
}
.App {
  background-color: rgb(241, 241, 236);
  font-family: 'Courier New', Courier, monospace;
}
.App-title {
  font-size: 1.5em;
  text-align: center;
}
img {
  width: 200px;
  height: auto;
  border-radius: 10%;
}

.imageBlocks{
  display: inline-block;
  /* flex-wrap: wrap; */

}
button{
  margin-right: 125px;
}

